.container{
    border: 2px solid black;
    background-color: khaki;
    height: 6100px;
}
.box{
    border: 2px solid red;
    width:150px ;
    height: 150px;
    display: inline-block;
    margin: 2px;
}
#box3
{
 /* position: fixed;
    right: 5px;
    bottom:7px;
    */
    position:sticky;
    top: 3px;
}